html {
  height: 100%;
}

body  {
  height: 100%;
  font-family: 'EB Garamond', serif;
}

.cont  {
  height: 100%;
  background: #B8C5CC;
}

.head  {
  background: #8D8D7F;
  margin-top: 30px;
  padding: 5px 10px;
  border: thin solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.date  {
  background: #CCCCCC;
  display: inline-block;
  border: thin solid white;
  border-radius: 10px;
}

.buttonGroup  {
  display: flex;
}

.head h3  {
  //background: black;
  display: inline-block;
  margin: 5px 10px;
  border-radius: 5px;
  font-size: 1.5em;
}

.newheadh3  {
  margin: 0;
}

.main:first-child  {
  margin-top: 30px;
}

.butt  {
  font-size: 1.15em;
  background: #ccc;
  padding: 0 10px;
  border: thin solid white;
  border-radius: 10px;
  margin: 1px 1px;
  display: flex;
  align-items: center;
}

.mainButt  {
  font-weight: 600;
  padding: 0 20px;
}

.hideButt  {
  visibility: hidden;
}

.butt:hover  {
  background: white;
  transition: .25s;
}

#date  {
  //margin-top: 30px;
  //color:white;
  //text-decoration: underline;
}

.calBack  {
  margin: 10px 10px;
  background: #332E2E;
}

.fontsizeabove767  {
  font-size: 1em;
}

.fontsize767  {
  font-size: .75em;
}

.fontsize491  {
  font-size: .5em;
}

.nameTile  {
  height: 20px;
}

.dayTile  {
  height: 150px;
  background: #E6E6E6;
  border: thin solid #404040;
  float: left;
  font-size: 1em;
  padding-bottom: 3px;
}

.dayTile:hover  {
  background: darkgrey;
}

.weekDayBox  {
  background: #E6E6E6;
  padding: 10px;
  border: thin solid #404040;
  border-radius: 20px;
}

.weekDayBox:hover  {
  background: darkgrey;
}

.weekDayHeader  {
  border-bottom: thin solid #404040;
}

.dayView  {
  background: #E6E6E6;
  padding: 10px;
  border: thin solid #404040;
  border-radius: 20px;
}

#dayHeader  {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
}

#dayTilePara  {
  display: inline-block;
  font-size: 1.3em;
  font-weight: 700;
  border-bottom: thin solid darkgrey;
  margin-bottom: 10px;
}

.dayViewTimes  {
  display: flex;
  align-items: center;
  border-bottom: thin solid darkgrey;
  margin-bottom: 10px;
}

.dayViewTimes p  {
  margin: 0 10px;
}

.today  {
  background: #F2E1DA;
  color: #404040;
}

.oddDays  {
  background: #CCCCCC;
  color: #7F3333;
}

.test  {
  background: #332E2E;
}

.testtop  {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin-top: 15px;
}

.testbottom  {
  padding-bottom: 20px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.dialogBox  {
  display: none;
  background: #fff;
  padding: 10px;
  border: thin solid black;
  border-radius: 10px;
  box-shadow: 4px 4px 3px;
}

.ui-dialog-titlebar {
  display: none;
}